
.titleArticle{

    text-transform: uppercase;

}

.a_aboutElement{
    background-color: $green;
    color: $grey;
    font-family: $font-family-avenir;
    width: 370px;
    margin: 0;
    margin-left: 40px;
}
