

//element lijst

.m_element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;

}

.a_element{
    background-color: $lightGreen;
    color: $grey;
    font-family: $font-family-avenir;
    width: 370px;
    height: auto;
    margin: 0;
    margin-top: 25px;
    padding: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 10px 8px -2px rgba(235,235,235,0.66);

    &__title{
        color: $grey;
        margin: 0;
        text-transform: uppercase;
        font-size: large;
    }
}

//detail

.linkDetail{
    border: $helloFresh solid 2px;
    margin-left: 105px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.detailContent{
    text-align: center;
    background-color: $lightGreen;
    color: $grey;
    font-family: $font-family-avenir;
    width: 600px;
    margin-left: 10px;
    padding: 50px 20px;
}

.back{
    font-size: 10px;
    border: $helloFresh solid 2px;
    padding: 2px;
    margin-left: 20px;
}


.containerDetail{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
h6{
    margin: 0px;
    margin-bottom: 20px;
}
//afbeeldingen

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgDetail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_box{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    object-fit: cover;
}


.titleArticle{
    text-transform: uppercase;
}
