//header admin
.m-link{
    display: flex;
    flex-direction: column;
}

.a-link{
    margin: 20px;
    border: $helloFresh solid 1px ;
    width: 80px;
    padding: 5px;
    text-align: center;
}

.card-header{
    font-family: $font-family-avenir;
    margin: 10px;
}

.header{

    margin-top: 50px;
    background-color: $lightGreen;
    padding: 10px;
    color: $grey;

    &__title{
        font-family: $font-family-avenir;
        margin-top: 20px;
        width: 20px;
        padding: 10px;
    }

}


//button create
.create{
    border: $helloFresh solid 1px;
    padding: 5px;
    margin: 10px;

}

//tables

.adminTable{
    width: 100%;
    font-family: $font-family-avenir;

}

//button edit & delete
.button{
    border: $helloFresh solid 1px ;
    text-align: center;
    margin-left: 20px;
    padding: 5px;
}

td{
    border-bottom: $grey solid 1px ;
}
