.titleNewsletter{
    color: #A69F94;
    font-family: $font-family-avenir;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}

.text{
    background-color: $lightGreen;
    width: 450px;
    font-family: $font-family-avenir;
    padding: 15px;
    color: $grey;

}

.pages{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.form{
    margin-top: 55px;
    padding-bottom: 100px;
}

label{
    color: $grey;
    font-family: $font-family-avenir;
    text-transform: uppercase;
    font-size: 15px;

}

input{
    width: 350px;
    height: 20px;
}

input .submit{
   border: $helloFresh solid 1px;
   padding: 5px;
    text-transform: uppercase;
    width: 350px;

}


.m-container{
        display: flex;
        flex-direction: row;
}

.img_newsletter{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 90px;
}
