.form{
    padding-bottom: 100px;
}

label{
    color: $grey;
    font-family: $font-family-avenir;
    text-transform: uppercase;
    font-size: 15px;

}

input{
    width: 350px;
    height: 20px;
}

input .submit{
   border: $helloFresh solid 1px;
   padding: 5px;
    text-transform: uppercase;
    width: 350px;

}


.m-container{
        display: flex;
        flex-direction: row;
}

.img_newsletter{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 90px;
}
