.container_privacy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.img-box-pages__privacy{

        width: 50%;
        height: 50%;
        margin-left: 270px;
        padding-bottom: 50px;
    }

.a-privacy{

    &__title{
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-family-avenir;
    }

    &__content{
        color: $grey;
        text-align: center;
        font-family: $font-family-avenir;
        line-height: 30px;
    }
}
